<!-- desctop version -->
<div [ngClass]="printPDF == true ? 'container-fluid' : 'container-fluid d-none d-lg-block'">
  <div class="row">
    <div class="col-4 left-col">
      <ng-container *ngTemplateOutlet="skills"></ng-container>
    </div>
    <div class="col-8 right-col">
      <mat-card class="personal-card main-card">
        <mat-card-content>
          <div class="row">
            <div class="col-8">
              <div class="row personal-row d-flex justify-content-center">
                <p class="icons-label-personal" style="font-size: 24px; font-weight: bold;">Szymon Michalak</p>
              </div>
              <div class="row personal-row d-flex justify-content-center">
                <span class="material-icons material-icons-personal">
                  home
                </span>
                <p class="icons-label-personal">ul. Górna Wilda 74/32, Poznań</p>
              </div>
              <div class="row personal-row d-flex justify-content-center">
                <span class="material-icons material-icons-personal">
                  email
                </span>
                <p class="icons-label-personal">szymonmichalak97@gmail.com</p>
              </div>
              <div class="row personal-row d-flex justify-content-center">
                <span class="material-icons material-icons-personal">
                  phone_android
                </span>
                <p class="icons-label-personal">+48 691-923-188</p>
              </div>
              <div class="row personal-row d-flex justify-content-center">
                <span class="material-icons material-icons-personal">
                  cake
                </span>
                <p class="icons-label-personal">18 lutego 1997 r.</p>
              </div>
              <div class="row personal-row d-flex justify-content-center">
                <span class="material-icons material-icons-personal">
                  <img id="github" src="./assets/github.svg">
                </span>
                <p class="icons-label-personal">/szymichalak</p>
              </div>
            </div>
            <div class="col-4">
              <img mat-card-image id="photo" src="./assets/photo.jpg">
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card-title class="custom-card-header">Doświadczenie</mat-card-title>
      <ng-container *ngTemplateOutlet="experience"></ng-container>

      <mat-card-title class="custom-card-header">Ciekawy projekt</mat-card-title>
      <ng-container *ngTemplateOutlet="project"></ng-container>

      <mat-card-title class="custom-card-header">Edukacja</mat-card-title>
      <ng-container *ngTemplateOutlet="education"></ng-container>

      <mat-card-title class="custom-card-header">O mnie</mat-card-title>
      <ng-container *ngTemplateOutlet="aboutMe"></ng-container>

      <div class="clause">
        Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji 
        (zgodnie z ustawą z dnia 10 maja 2018 roku o ochronie danych osobowych (Dz. Ustaw z 2018, poz. 1000) oraz zgodnie 
        z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób 
        fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia 
        dyrektywy 95/46/WE (RODO).
      </div>
    </div>
  </div>
</div>
<!-- desctop version end -->


<!-- mobile version -->
<div [ngClass]="printPDF == true ? 'd-none' : 'container-fluid d-lg-none mobile-view'">
  <mat-card class="personal-card">
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <div class="row personal-row d-flex justify-content-center">
            <p class="icons-label-personal" style="font-size: 24px; font-weight: bold;">Szymon Michalak</p>
          </div>
          <div class="row personal-row d-flex justify-content-center">
            <span class="material-icons material-icons-personal">
              home
            </span>
            <p class="icons-label-personal">ul. Górna Wilda 74/32, Poznań</p>
          </div>
          <div class="row personal-row d-flex justify-content-center">
            <span class="material-icons material-icons-personal">
              email
            </span>
            <p class="icons-label-personal">szymonmichalak97@gmail.com</p>
          </div>
          <div class="row personal-row d-flex justify-content-center">
            <span class="material-icons material-icons-personal">
              phone_android
            </span>
            <p class="icons-label-personal">+48 691-923-188</p>
          </div>
          <div class="row personal-row d-flex justify-content-center">
            <span class="material-icons material-icons-personal">
              cake
            </span>
            <p class="icons-label-personal">18 lutego 1997 r.</p>
          </div>
          <div class="row personal-row d-flex justify-content-center">
            <span class="material-icons material-icons-personal">
              <img id="github" src="./assets/github.svg">
            </span>
            <p class="icons-label-personal">/szymichalak</p>
          </div>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <img mat-card-image id="photo" src="./assets/photo.jpg">
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Doświadczenie
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="experience"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Umiejętności
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="skills"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ciekawy projekt
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="project"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Wykształcenie
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="education"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>
  
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          O mnie
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="aboutMe"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="clause-mobile">
    Wyrażam zgodę na przetwarzanie moich danych osobowych dla potrzeb niezbędnych do realizacji procesu rekrutacji 
    (zgodnie z ustawą z dnia 10 maja 2018 roku o ochronie danych osobowych (Dz. Ustaw z 2018, poz. 1000) oraz zgodnie 
    z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób 
    fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia 
    dyrektywy 95/46/WE (RODO).
  </div>
</div>
<!-- mobile version end -->


<!-- templates -->
<ng-template #experience>
  <mat-card class="single-experience-card">
    <mat-card-header>
      <mat-card-title>Praktyki wakacyjne, Junior Full Stack Developer</mat-card-title>
      <mat-card-subtitle>Lipiec 2020 do chwili obecnej</mat-card-subtitle>
      <mat-card-subtitle>BeOne Sp. z o. o.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      • Tworzenie aplikacji do podpisywania elektronicznego dokumentów - (Angular, Kotlin)<br>
      • Implementacja systemów do zarządzania dokumentami dla banków i innych instytucji - (Angular, Kotlin)
    </mat-card-content>
  </mat-card>
  <mat-card class="single-experience-card">
    <mat-card-header>
      <mat-card-title>Praktyki wakacyjne</mat-card-title>
      <mat-card-subtitle>Sierpień/Wrzesień 2018</mat-card-subtitle>
      <mat-card-subtitle>Volkswagen Poznań Sp. z o. o. – Zespół sieciowy</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      • Konfigurowanie przełączników i routerów<br>
      • Testowanie urządzeń podczas ataku DoS<br>
      • Kontrolowanie liczby zdarzeń, użyto wewnętrznego systemu
    </mat-card-content>
  </mat-card>     
</ng-template>

<ng-template #project>
  <mat-card class="single-project-card">
    <mat-card-header>
      <mat-card-title>Analiza godzin otwarcia placówek banków</mat-card-title>
      <mat-card-subtitle><a target="_blank" rel="noopener noreferrer" href="http://pkobp-client.azurewebsites.net/">http://pkobp-client.azurewebsites.net/</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      Projekt został zrealizowany w zespole 3 osobowym. Front-End został wykonany w całości przeze mnie. 
      Dwie pozostałe osoby realizowały Back-End.
      <br>
      System został wykonany na potrzeby przedmiotu Hurtownie Danych. Naszym klientem był bank PKO SA. 
      Po zakończeniu prac implementacyjnych odbyła się prezentacja działania aplikacji przed dyrekcją jednej z poznańskich placówek banku.
      <br>
      Ze względu na darmową wersję Azure'a pierwsze uruchomienie może potrwać około 30 sekund. Należy odświeżyć kilkukrotnie stronę.
    </mat-card-content>
  </mat-card>    
</ng-template>

<ng-template #education>
  <mat-card class="single-education-card">
    <mat-card-header>
      <mat-card-title>Politechnika Poznańska</mat-card-title>
      <mat-card-subtitle>Studia II stopnia, 2021 do chwili obecnej</mat-card-subtitle>
      <mat-card-subtitle>Technologie Przetwarzania Danych - Wydział Informatyki i Telekomunikacji</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="single-education-card">
    <mat-card-header>
      <mat-card-title>Politechnika Poznańska</mat-card-title>
      <mat-card-subtitle>Studia I stopnia, 2017-2021</mat-card-subtitle>
      <mat-card-subtitle>Tytuł inżyniera - Wydział Informatyki i Telekomunikacji</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card class="single-education-card">
    <mat-card-header>
      <mat-card-title>Zespół Szkół Politechnicznych im. Bohaterów Monte Cassino we Wrześni</mat-card-title>
      <mat-card-subtitle>Szkoła średnia, 2013-2017</mat-card-subtitle>
      <mat-card-subtitle>Tytuł technika elektronika</mat-card-subtitle>
    </mat-card-header>
  </mat-card>     
</ng-template>

<ng-template #aboutMe>
  <mat-card class="hobbies">
    <mat-card-content>
      Przede mną ostatni rok studiowania, który będzie pełen wyzwań. Poza pracą magisterską chciałbym spróbować swoich sił
      jako Angular Front-End Developer. Angular od pewnego czasu stał się moim oczkiem w głowie. Uważam, że zdobyta wiedza i
      doświadczenie mogą przyczynić się do rozwoju Państwa firmy. 
      <br>
      Jeśli chodzi o sport uwielbiam jazdę na rowerze oraz pływanie. Od zeszłego sezonu do tej listy dołączyło morsowanie.
      Lubię podróżować autostopem. Moim największym marzeniem podróżniczym jest wizyta w Dubaju. Interesuję się również samolotami,
      które latają nad naszymi głowami. Wolne chwile poza komputerem spędzam ze znajomymi grając w gry planszowe.
      Przez pierwsze lata studiów udzielałem korepetycji z matematyki dzięki czemu nie mam problemów z komunikacją i tłumaczeniem problemów.
    </mat-card-content>
  </mat-card>
</ng-template>

<ng-template #skills>
  <!-- Znane technologie -->
  <div class="row skill-row">
    <span class="material-icons">
      bolt
    </span>
    <p class="icons-label">Znane technologie</p>
  </div>
  <div class="row pills">
    <div>
      <span class="badge badge-pill badge-secondary" *ngFor="let tech of techniques">
        {{tech}}
      </span>
    </div>
  </div>

  <!-- Systemy operacyjne -->
  <div class="row skill-row">
    <span class="material-icons">
      computer
    </span>
    <p class="icons-label">Systemy operacyjne</p>
  </div>
  <div class="row pills">
    <div>
      <span class="badge badge-pill badge-secondary" *ngFor="let os of opSystems">
        {{os}}
      </span>
    </div>
  </div>

  <!-- IDEs -->
  <div class="row skill-row">
    <span class="material-icons">
      bug_report
    </span>
    <p class="icons-label">IDE</p>
  </div>
  <div class="row pills">
    <div>
      <span class="badge badge-pill badge-secondary" *ngFor="let ide of IDEs">
        {{ide}}
      </span>
    </div>
  </div>

  <!-- Języki -->
  <div class="row skill-row">
    <span class="material-icons">
      record_voice_over
    </span>
    <p class="icons-label">Języki obce</p>
  </div>
  <div class="row pills">
    <div>
      <span class="badge badge-pill badge-secondary" *ngFor="let lang of languages">
        {{lang}}
      </span>
    </div>
  </div>   
  
  <!-- Dodatkowe informacje -->
  <div class="row skill-row">
    <span class="material-icons">
      add_box
    </span>
    <p class="icons-label">Dodatkowe informacje</p>
  </div>
  <div class="row pills">
    <div>
      <span class="badge badge-pill badge-secondary" *ngFor="let addInfo of additionalInfo">
        {{addInfo}}
      </span>
    </div>
  </div>    
</ng-template>
