.left-col {
    background-color: rgb(240, 240, 240);
    padding: 30px;
}

.right-col {
    background-color: ghostwhite;
    padding: 25px;
}

// desctop devices
@media only screen and (min-width: 991px), print {
    .print-height {
        height: 1585px;
    }

    .icons-label {
        font-size: 25px;
        line-height: 50px;
    }
    
    .material-icons {
        line-height: 50px;
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .icons-label-personal {
        font-size: 18px;
        line-height: 30px;
    }
    
    .material-icons-personal {
        line-height: 30px;
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .skill-row {
        height: 50px;
    }
    
    .badge {
        font-size: 20px;
        font-weight: 400;
        margin: 5px 10px;
        padding: 15px;
        border: 0px;
    }
    
    .pills {
        margin-bottom: 20px;
    }
}

// mobile devices
@media only screen and (max-width: 991px) {
    .icons-label {
        font-size: 20px;
        line-height: 40px;
    }
    
    .material-icons {
        line-height: 40px;
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .icons-label-personal {
        font-size: 14px;
        line-height: 20px;
    }
    
    .material-icons-personal {
        line-height: 20px;
        font-size: 14px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .skill-row {
        height: 35px;
    }
    
    .badge {
        font-size: 15px;
        font-weight: 400;
        margin: 5px 10px;
        padding: 10px;
        border: 0px;
    }
    
    .pills {
        margin-bottom: 10px;
    }
}

.personal-card {
    #photo {
        height: 250px;
        width: 200px;
        margin: 0px;
        border-radius: 10%;
        padding: 0px;
    }
}

.main-card {
    margin-top: 15px;
}

mat-card-subtitle {
    margin-bottom: 5px;
    border-left: 4px solid #6c757d;
    padding-left: 5px;
}

.mat-list-item {
    border-left: 4px solid #6c757d;
    padding-left: 5px;
}

.clause-print{
    position: absolute;
    bottom: 5px;
    right: 5px;
    left: 5px;
    text-align: justify;
    font-size: 9px;
    line-height: normal;
}

.clause {
    margin-top: 35px;
    text-align: justify;
    font-size: 9px;
    line-height: normal;
}

.clause-mobile {
    text-align: justify;
    font-size: 7px;
    line-height: normal;
    margin-top: 3px;
}

#github {
    margin-bottom: 10px;
}

.custom-card-header {
    margin-top: 15px !important;
}

mat-expansion-panel {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mobile-view {
    background-color: ghostwhite;
    padding: 15px;
}

mat-card-content {
    text-align: justify;
}

.no-padding {
    padding: 0px
}